/*=========fonts===========*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
/*+===========universals===========*/
.monserrat-text {
  font-family: 'Montserrat', sans-serif;
}

.quicksand-text {
  font-family: 'Quicksand', sans-serif;
}
/*Media Queries*/
@media only screen and (max-width: 810px) {
  .jumbotron #intro p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 560px) {
  .jumbotron #intro p {
    font-size: 16px;
  }
}

/*NAVBAR*/
.navbar a {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.navbar-pills {
  background-color: black;
  font-size: 14px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: orange;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: black;
  color: orange;
}

/*JUMBOTRON*/
.jumbotron {
  height: 900px;
  color: white;
  background-image: url("../img/header-2.jpg");
  background-size: cover;
  background-position: center;
}



#intro {
background-color: rgba(0,0,0,0.3);
transform: translateY(50%);
}

#intro h1 {
  font-size: 4vw;
  text-shadow: 1px 1px 5px #0a0a0a0a;
}

#intro p {
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Quicksand', sans-serif;
}



/*thumbnails*/
.thumb-background{
  padding-top: 5px;
  background-color: #eee;
  border-radius: 10px;
  margin-left:10px;
}

.thumb-background img {
margin: 0px;
height: 50%;
width: 90%;
overflow: auto;
}

.caption .text-center {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

/*ABOUT ME SECTION*/
#about-me {
  background-color: white;
  border-radius: 10px;
  margin-left: 10px;
}

#about-me i {
  align-content: center;
  height: auto;
  padding-bottom: 10px;
  width: 90%
}

.fa-code:before, .fa-github:before, .fa-file-text-o:before {
  color: black;
}

/*FOOTER*/
.well-lg {
  background-color: #eee;
}

#contact .i {
  align-items: center;
}
.fa-envelope:before {
  color: black;
}
